<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../layout/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <p>Welcome to Templating with EJS</p>
        </div>
    </main>

    <footer>
        <%- include('../layout/footer'); %>
    </footer>

</body>

</html>